!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title PCAH Appointment Request
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body.body-ele
    #main{:role => "main"}
      .container
        .content
          .row
            = yield
          %footer
    %script#after-send-template(type='text/template')
      .after-send-message
        Thank you! We have received your appointment request and we will contact you within the next business day to finalize your appointment.
